<div class="row">
  <div class="col-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12 text-center">
            <strong>Login</strong>
          </div>
          <div class="card-body text-center">
            <form (ngSubmit)="getUser()">
              <div class="row col-6">
                <label>Email</label>
                <input
                  type="text"
                  [(ngModel)]="userObj.email"
                  class="form-control"
                  name="email"
                  required="true"
                />
              </div>
              <div class="row col-6">
                <label>Password</label>
                <input
                  type="password"
                  [(ngModel)]="userObj.password"
                  class="form-control"
                  name="password"
                  required="true"
                />
              </div>
            </form>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" (click)="getUser()">Login</button>
        <button class="btn btn-primary" routerLink="/customers">Register</button>
      </div>
    </div>
  </div>
</div>
