<div class="p-4 mb-5">
  <img src="logo.gif" class="img-fluid logo" alt="Elite Logo" />
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h3>Info</h3>
        <p>Elite is a small club that is for all ages that get kids ready to compete.</p>
      </div>

      <div class="col">
        <div class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://www.freep.com/gcdn/presto/2023/02/25/NMNN/0ec46be1-1bfa-46f6-a58c-2ea76fa346e0-022523-SEMIFINAL-Dundee-04.jpg?width=660&height=417&format=pjpg&auto=webp"
                alt="tilt"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
