<div class="row">
  <div *ngFor="let order of orderObj">
    <div *ngFor="let product of order.products">
      <div class="col-3">{{ product.productData.productName }}</div>
      <div>{{ product.quantity }}</div>
      <div class="col-3">
        <!-- <button class="col-3">Delete Item</button> -->
      </div>

      <!-- <div>
        <h1>No Items in Cart</h1>
      </div> -->
    </div>
  </div>
  <div *ngFor="let order of orderObj">
    <div class="row">
      <div class="col-3">{{ order.user.name }}</div>

      <!-- <div>
        <h1>No Items in Cart</h1>
      </div> -->
    </div>
  </div>
</div>
