<div class="about-section">
  <h1>About Us</h1>
  <p>Looking for a start for your kid as a wrestler?</p>
  <p>
    We are a small club that teaches youth the basic fundamentals on
    wrestling. Such as the rules and basic techniques.
  </p>
</div>

<h2 style="text-align: center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Anthony Gilbert</h2>
        <p class="title">Head Coach</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Chris Mullins</h2>
        <p class="title">Asst. Coach</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jim Smith</h2>
        <p class="title">Event Scheduler</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
      </div>
    </div>
  </div>
</div>
