<div class="row m-5 fw-bold" *ngIf="cartObj">Your Cart : {{ cartObj.length }} Items</div>
<div class="row m-5">
  <div *ngFor="let product of cartObj; trackBy: cartObj.productId">
    <div *ngIf="product">
      <div class="row border">
        <div class="col-3 my-3 mx-1">
          <div class="fw-bold">
            {{ product.productId.productName }}
          </div>
          <div>
            {{ product.productId.description }}
          </div>
        </div>
        <div class="col-3">{{ product.quantity }}</div>
        <button class="col-3" (click)="deleteItem(product.productId)">Delete Item</button>
      </div>
      <div *ngIf="!product">
        <h1>No Items in Cart</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <button (click)="checkout(cartObj)" routerLink="/orders">Checkout</button>
  </div>
</div>
